<!DOCTYPE  html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css files/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Roboto:wght@100&family=Ubuntu:wght@300&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
  <title>Add Exercises</title>
  <link rel="icon" href="/pictures/favicon.png">
</head>
<body>
<header>
  <nav>
    <div class="navimage">
      <img src="/pictures/WLogoTextIcon.png" style="width: 151px;height: 42px;">
    </div>
    <div class="navbar">
      <a th:href="@{/home}">Home</a>
      <a th:href="@{/viewfood}">Food</a>
      <a class="currpage" href="#">Workouts</a>
      <a th:href="@{/viewgoals}">Goals</a>
      <a th:href="@{/about}">About</a>
      <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutbutt">
        <input type="submit" value="Logout">
      </form>
      <a href="javascript:document.logoutbutt.submit()">Logout</a>
    </div>
  </nav>
</header>
<div class="exerciseform">
  <div class="contain" id="exform">
    <div class="text1">Add an exercise</div>
    <form id ="exeform" th:action="@{process_exe}" method="post">
      <div class="data">
        <label>Exercise Name</label>
        <input list="exe-names" type="text" th:name="exename" required>
        <datalist id="exe-names">
          <option th:each="Exe : ${allexes}" th:value="${Exe.name}" th:text="${Exe.name}"></option>
        </datalist>
      </div>
      <div class="data">
        <label>Weight (lbs)</label>
        <input type="number" id="weight" th:name="weight">
      </div>
      <div class="data">
        <label>Date</label>
        <input type="date" id="date" th:name="date">
      </div>
      <div class="data">
        <label>Sets</label>
        <input type="number" id="sets" th:name="sets">
      </div>
      <div class="data">
        <label>Reps</label>
        <input type="number" id="reps" th:name="reps">
      </div>
      <div class="addbutton">
        <button class="button1" type="submit">Submit</button>
      </div>

    </form>
  </div>
</div>

</body>
</html>