<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&family=Work+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css%20files/signupsuccess.css">
    <script type="text/javascript" src="/JS files/signin.js"></script>
    <title>Welcome to Fitly</title>
</head>
<body>
<video autoplay muted playsinline src="" type="" id="myVideo">
    <script type="text/javascript" src="/JS files/index.js"></script>
</video>
<div class="content" id="content">
    <p class="apptitle">FitLy</p>
    <div class="buttons">
        <button class="signin" type="button" onclick="openForm()">Sign-in</button>
        <div class="space"></div>
        <button class="signup" type="button" onclick="openFormUp()">Sign-up</button>
    </div>
</div>
<div class="Form">
    <div class="container" id="myFormsignup">
        <div class="text">Sign-up</div>

        <div class="text2">Sign-up was successful! Click button below to return home and sign-in!</div>
        <div class="logbutn">
            <button onclick="window.location.href='/'">Return to Home</button>
        </div>
    </div>
</div>
</body>
</html>