<!DOCTYPE  html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css files/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&family=Work+Sans:wght@500&display=swap"
          rel="stylesheet">
    <script type="text/javascript" src="/JS files/viewFood.js"></script>
    <title>View Goals</title>
</head>
<body>
<header>
    <nav class="navclass">
        <p>FitLy</p>
        <div class="navbar">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/viewfood}">Food</a>
            <a th:href="@{/viewexe}">Workouts</a>
            <a class="currpage" href="#">Goals</a>
            <a th:href="@{/about}">About</a>
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutbutt">
                <input type="submit" value="Logout">
            </form>
            <a href="javascript:document.logoutbutt.submit()">Logout</a>
        </div>
    </nav>
</header>
<h1>[[${#authentication.getPrincipal().getFirstName()}]]'s Goals</h1>
<div class="sortform">
    <div class="sortcontain">
        <form id="sortform1" th:action="@{viewgoals}" method="post">
            <div class="sort"><input type="date" id="date2" th:name="incompletedate" th:value="${datevalue}"
                                     onchange="this.form.submit()">
                <button type="button" onclick="exeResetButton()">Show All</button>
            </div>
        </form>
    </div>
</div>

<div class="tablecontainer">
    <h2>Current Goals</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Goal</th>
            <th scope="col">Date added</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="goals : ${incomplete}">
            <td th:text="${goals.text}"></td>
            <td th:text="${goals.date}"></td>
            <td>
                <a th:href="@{/changegoal/{goalid}(goalid=${goals.goal_id})}"  class="btn btn-primary">Mark as completed</a>
                <a th:href="@{/deletegoal/{goalid}(goalid=${goals.goal_id})}" onclick="return confirm('Are you sure you want to delete this goal?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Completed Goals</h2>
    <table class="table table-bordered" id="completedgoals">
        <thead>
        <tr>
            <th scope="col">Goal</th>
            <th scope="col">Date added</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="complete : ${complete}">
            <td th:text="${complete.text}"></td>
            <td th:text="${complete.date}"></td>
            <td>
                <a th:href="@{/deletegoal/{goalid}(goalid=${complete.goal_id})}" onclick="return confirm('Do you want to remove this goal from your completed list?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="addbutton">
        <a th:href="@{/addgoal}">
            <button class="button1"> Add Goal</button>
        </a>
    </div>
</div>
</body>
</html>